{
    "server": {
        "host": "vaiwan.com",
        "port": 443,
        "bufsize": 1024
    },
    "client": [
        {
            "protocol": "http",
            "hostname": "",
            "subdomain": "calvin",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 8088
        },
        {
            "protocol": "tcp",
            "hostname": "",
            "subdomain": "calvin",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 8088
        }
    ]
}
